<body>
    <h1>Cosi 166 Capstone</h1>
    <br>
    <br>
    <hr>
    <h3>This is login/ Sign up page</h3>
    <br>
    <br>
    <div class="container">
            <div class="row">
                <div class="col-sm-6"><button type="button" class="btn btn-warning"><%= link_to "Login", 'sign_in'%></button></div>
                <div class="col-sm-6"><button type="button" class="btn btn-warning"><%= link_to "Sign Up", 'sign_up'%></button></div>
             </div>
    </div>
</body>